    .wrapper{
      display: flex;
    }
    .wrapper .left,
    .wrapper .right{
      width: 50%;
      height: 100vh;
    }

    .left{
      align-items: center;
      padding: 50px;
    }
    .right{
      align-items: center;
      padding-right: 20px;
    }
    .card{
    display: flex;
    text-align:end;
    background-color: rgb(231, 234, 250);
    padding: 20px 20px;
    width: auto;
    height: auto;
    }

.button {
  font-family: "Nunito", sans-serif;
    color: #db7171;
    }
 
  button.reset {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: rgb(97,138,254,1);
    font-size: 16px;
    border-radius: 7px;
  }
  button.calculate {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: rgb(97,138,254,1);
    font-size: 16px;
    border-radius: 7px;
  }
  button.reset .calculate {
    background: #0044ff;
  }

  
  
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
  }
  #comment {
    color: #4f7df9;
    font-weight: 800;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}


.gender {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding-left: 0%;
  border-radius: 12px;
  flex-wrap: nowrap;
}

  /* Style for Radio */
  .gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } 
  
  /* Hide the browser's default radio button */
  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .gender .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }

.footer {
  background-color: rgb(194, 227, 243);
  /* Pusatkan secara horizontal*/
  margin: 0 auto;
  text-align: center;
}
  
